.container {
    padding-top: 50px;
}

.row {
    padding-bottom: 30px;
}

.input-group {
    padding-bottom: 20px;
}

.btn {
    max-width: 20rem;
    margin: auto;

}

.btn-secondary {
    background-color: #4e73df;
    color: white
}