{%extends 'base.html'%}
{% load static %}
{%block title%}
Alert History
{%endblock%}
{%block main%}

        <!-- Begin Page Content -->
        <div class="container-fluid">

          <!-- Content Row -->
          <div class="row">

            <!-- Map Chart -->
            <div class="col-xl-12 col-lg-7">
              <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                  <h6 class="m-0 font-weight-bold text-primary" style="flex: 1;">Alerts History</h6>
                  <a href="#" id="alert-btn" class="btn btn-danger btn-icon-split" style="margin-right: 20px;">
                    <span class="icon text-white-50">
                      <i class="fas fa-bell"></i>
                    </span>
                    <span class="text">Alert</span>
                  </a>
                  <div class="dropdown no-arrow">
                    <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">
                      <div class="dropdown-header">Dropdown Header:</div>
                      <a class="dropdown-item" href="#">Action</a>
                      <a class="dropdown-item" href="#">Another action</a>
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                  </div>
                </div>
                <!-- Card Body -->
                <div class="card-body z-depth-1-half" style="height: 500px; padding: 0;">
                  <ul id="alert-body" class="list-group mb-3">

                  </ul>
                </div>

              </div>
            </div>
          </div>


              <!--popup-->
      <!-- End of Main Content -->

      
    </div>
    <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->


  <!-- Alert Message -->
  <div class="alert hide">
      <span class="fas fa-exclamation-circle"></span>
      <span id="alert-info" class="info font-weight-bold text-gray-800">
        <span class="msg font-weight-bold">Alert : </span>
        "Bus-16 Accident"
      </span>
      <div class="close-btn">
        <span class="fas fa-times"></span>
      </div>
  </div>
  <script>
    function notification(){
      $('.alert').addClass("show");
      $('.alert').removeClass("hide");
      $('.alert').addClass("showAlert");
      
      setTimeout(function(){
        $('.alert').removeClass("show");
        $('.alert').addClass("hide");
      },5000);
    }
    $('#alert-btn').click(notification);
    $('.close-btn').click(function(){
      $('.alert').removeClass("show");
      $('.alert').addClass("hide");
    });
    document.getElementById("alert-btn").addEventListener("click", function(){  
      var audio = new Audio( 
      "{% static 'beep.mp3' %}"); 
      audio.play();  
    });
      
    var track;
    var i = 0;
    function myLoop() {
      setTimeout(function() {
        if (i < 1) {     
          refresh();      
          myLoop();
        }
      }, 100)
    }
    myLoop();

    function refresh(){
      $.ajax({
        type: "GET",
        url: "{{ 'ajax-refresh/' }}",
        success: function(data,textStatus,request){
          document.getElementById("#text").innerHTML = parseFloat(data);
          var str = ''
          for (var i = 0; i < data.length; i++) {
            str += "<li class='list-group-item d-flex justify-content-between lh-condensed'><div><h6 class='my-0 font-weight-bold'>Bus - " + data[i]['new'] + "</h6><small class='text-muted'>Brief description</small></div><span class='md-2'><i class='fas fa-circle' style='color: #e74a3b;'></i></span></li>";
            if(parseFloat(data[i]['new']) == 1){
              document.getElementById("alert-info").innerHTML = parseFloat(data[i]['IMEI']);
              setTimeout(notification(),5000);
            }
          }
          document.getElementById("alert-list").innerHTML = str;
          document.getElementById("alert-body").innerHTML = str;
        }
      });
    }
    
  </script>
  	  
  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>
{%endblock%}
