{%extends 'base.html'%}
{% load static %}
{%block title%}
Alert History
{%endblock%}
{%block main%}
<script>
function myFunction() {
  document.getElementById("myForm").submit();
}
</script>
    <!-- Begin Page Content -->
    <div class="container-fluid">

      <!-- Content Row -->
      <div class="row">

        <div class="col-xl-12 col-lg-7">
          <div class="card shadow mb-4">
            <!-- Card Header - Dropdown -->
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
              <h6 class="m-0 font-weight-bold text-primary" style="flex: 1;">Alerts History</h6>
              <a href="#" id="a" class="btn btn-primary btn-icon-split" data-toggle="modal" data-target="#email-report" style="margin-right: 20px;">
                        <span class="icon text-white-50">
                            <i class="fas fa-envelope"></i>
                        </span>
                        <span class="text">Resolve</span>
                </a>
              <div class="dropdown no-arrow">
                <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                </a>
                <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">
                  <div class="dropdown-header">Dropdown Header:</div>
                  <a class="dropdown-item" href="#">Action</a>
                  <a class="dropdown-item" href="#">Another action</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="#">Something else here</a>
                </div>
              </div>
            </div>
            <!-- Card Body -->
            <div class="card-body z-depth-1-half" style="height: 500px; padding: 0;">
              <div class="col-md-12 p-3 d-flex justify-content-start align-items-center">
                <label class="m-0" for="selected-buses" style="padding-right: 10px;">Date</label>
                <input id='alert-date' type="text" class="form-control alert-datepk" placeholder=" Select a Date..." value="" required="" onchange="getHistory()">
              </div>
              <ul id="alert-body" class="list-group mx-3" style="max-height: 400px; overflow-y: scroll;">
                
              </ul>
            </div>
          </div>
        </div>
      </div>
      <!-- End of Main Content -->

      <!-- Scroll to Top Button-->
      <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
      </a>
      
    </div>
    <!-- End of Content Wrapper -->
    <div class="modal fade" id="email-report" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="m-0 font-weight-bold text-primary">Resolve</h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span class="text">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body" style="padding-bottom: 55px;">
                            <!-- Form code begins -->
                            <form method="post" id="myForm" action="{%url 'alerts'%}">
                              {% csrf_token %}
                              <div class="form-group ">
                      <label for="smail"> E-mail: </label><br>
                      <input id="smail-id" type="mail" id="smail-id" name="smail" required=""><br>
                    </div>
                    <div class="form-group ">
                     <label for="pass"> Password: </label><br>
                    <input id="pass-id" type="password" id="pass-id" name="pass" required="" ><br>
                  </div>
                  <div class="form-group ">
                    <label for="rmail">Recepient E-mail: </label><br>
                    <input id="rmail-id" type="mail" id="rmail-id" name="rmail" required="" ><br>
                  </div>
                  <div class="form-group ">
                    <label for="comment">Message: </label><br>
                    <input id="comment-id" type="text" size="50" id="comment-id" name="comment" required="">
                  </div>
                  <div class="form-group ">
                   <button class="btn btn-primary " onclick="myFunction()" type="button">Send</button>
                  </div>

                  </form>
                              
                              <a href="#" class="btn btn-primary" data-dismiss="modal" aria-label="Close" style="right: 15px; position: absolute;">
                                <span class="text">Close</span>
                              </a>
                        </div>
                      </div>
                    </div>
                  </div>
  <script>
		$(function() {
			$('.alert-datepk').datepicker({
				'format': 'yyyy-mm-dd',
				'autoclose': true,
        'endDate': '+0d',
			}).datepicker("setDate",'+0d');
		});
  </script>
  <script>
    function getHistory(){
      var date = document.getElementById('alert-date').value
      console.log(date)
      var str=''
      $.ajax({
          type: "GET",
          url: "{{ '/home/alert-call/"+ date +"' }}",
          success: function(data,textStatus,request){
            console.log(data);
            var len = data.length;
            if(len==0){
              str+="<div class='text-center'> No Alerts </div>"
            }
            for (var i = 0; i < len; i++) {
              str="<li class='list-group-item d-flex justify-content-between lh-condensed'><div><h6 class='my-0 font-weight-bold'>Bus - " + data[i]['routeId'] + "</h6><small class='text-muted'>" + data[i]['description'] + "</small></div><span class='md-2'><small class='text-muted'>" + data[i]['alertTime'] + "</small></span></li>"+str
            }
            document.getElementById("alert-body").innerHTML = str;
          }
      });
    }
  </script>
      
{%endblock%}