<!DOCTYPE html>  
<html lang="en">  
<head>  
    <meta charset="UTF-8">  
    <title>Index</title>  
    {% load static %}  
    <link rel="stylesheet" href="{% static 'css/style.css' %}"/>  
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>  
<body> 

<form method="POST" class="post-form" action="/updatealerts/{{employee.alertCode}}">  
        {% csrf_token %}  
    <div class="container">  
<br>  
    <div class="form-group row">  
    <label class="col-sm-1 col-form-label"></label>  
    <div class="col-sm-4">  
    <h3>Update Details</h3>  
    </div>  
  </div>  
    <div class="form-group row">  
    <label class="col-sm-2 col-form-label">Alert Code:</label>  
    <div class="col-sm-4">  
        <input type="text" name="alertCode" id="driverId" required maxlength="20" value="{{ employee.alertCode }}"/>  
    </div>  
  </div>  
  <!-- <div class="form-group row">  
    <label class="col-sm-2 col-form-label">IMEI:</label>  
    <div class="col-sm-4">  
        <input type="text" name="IMEI" id="id_ename" required maxlength="100" value="{{ employee.IMEI }}" />  
    </div>  
  </div>  
alertInterval }}</td>   
        <td>{{ a.maxAlerts}}</td>  
        <td>{{ a.description -->
    <div class="form-group row">  
    <label class="col-sm-2 col-form-label">Alert Interval:</label>  
    <div class="col-sm-4">  
        <input type="text" name="alertInterval" id="id_eemail" required maxlength="254" value="{{ employee.alertInterval  }}" />  
    </div>  
  </div>  
    <div class="form-group row">  
    <label class="col-sm-2 col-form-label">Max Alerts:</label>  
    <div class="col-sm-4">  
        <input type="text" name="maxAlerts" id="id_econtact" required maxlength="15" value="{{ employee.maxAlerts }}" />  
    </div>  
  </div>  
  <div class="form-group row">  
    <label class="col-sm-2 col-form-label">Description:</label>  
    <div class="col-sm-4">  
        <input type="text" name="description" id="id_econtact" required maxlength="100" value="{{ employee.description}}" />  
    </div>  
  </div>  
    <div class="form-group row">  
    <label class="col-sm-1 col-form-label"></label>  
    <div class="col-sm-4">  
    <button type="submit" class="btn btn-success">Update</button>  
    </div>  
  </div>  
    </div>  
</form>  
</body>  
</html>  