{%extends 'base.html'%}
{% load static %}
{%block title%}
CBIT Bus Tracking Dashboard
{%endblock%}
{%block home%}active{%endblock%}
{%block onload%}worker(){%endblock%}
{%block main%}
<script>
function worker() {
  $.ajax({
    url: '/home/track-refresh/', 
	type: 'GET',
    success: function(data,textStatus,request) {
console.log('ok');
img="{% static 'markers/Bus.png' %}"
for (var i = 0; i < data.length; i++) {
var im=(data[i]['IMEI']).toString();
var lat = parseFloat(data[i]['latitude']);
var lng = parseFloat(data[i]['longitude']);
var pos={lat:lat ,lng:lng};
var k=data[i]['routeId'];
var speed=data[i]['speed'];
var ind=mIMEI.indexOf(im);
if(ind==-1){
marker = new google.maps.Marker({
map: map,
icon:img,
position: pos,
label:''+k,                      
});
markers.push(marker);
var infowindow = new google.maps.InfoWindow({
content:  '<p>Latitude:' +lat + '</p>'+
		  '<p>Longitude'+lng + '</p>'+
		  '<p>Speed:' + speed + '</p>'+
		  '<p>Altitude:' + data[i]['altitude'] + '</p>'+
		  '<p>Battery:' + data[i]['battery'] + '</p>'+
		  '<p>Fuel:' + data[i]['fuel'] + '</p>'+
		  '<p>Alert:' + data[i]['alert'] + '</p>'+
		  '<a href = "/home/Bus-'+ k +'">Live Tracking </a>'
});
myFunctinForListener(marker, infowindow);

}
else{
if(JSON.stringify(d[im])!==JSON.stringify(pos)){
console.log('update');
markers[ind].setMap(null)
marker = new google.maps.Marker({
map: map,
icon:img,
position: pos,
label:''+k,                      
});
d[im]=pos;
markers[ind]=marker;
var infowindow = new google.maps.InfoWindow({
content: '<p>Latitude:' +lat + '</p>'+
		  '<p>Longitude'+lng + '</p>'+
		  '<p>Speed:' + speed + '</p>'+
		  '<p>Altitude:' + data[i]['altitude'] + '</p>'+
		  '<p>Battery:' + data[i]['battery'] + '</p>'+
		  '<p>Fuel:' + data[i]['fuel'] + '</p>'+
		  '<p>Alert:' + data[i]['alert'] + '</p>'+
		  '<a href = "/home/Bus-'+ k +'">Live Tracking </a>'
});
myFunctinForListener(marker, infowindow);
}
}

}

},
complete: function() {
  // Schedule the next request when the current one's complete
  setTimeout(worker, 10000);
},
});
}
</script>
        <!-- Begin Page Content -->
        <div class="container-fluid">

          <!-- Content Row -->
          <div class="row">

            <!-- Map Chart -->
            <div class="col-xl-12 col-lg-7">
              <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                  <h6 class="m-0 font-weight-bold text-primary" style="flex: 1;">Bus Routes</h6>
                  <!-- <a href="#" id="alert-btn" class="btn btn-danger btn-icon-split" style="margin-right: 20px;">
                    <span class="icon text-white-50">
                      <i class="fas fa-bell"></i>
                    </span>
                    <span class="text">Alert</span>
                  </a> -->
                  
                  <a href="#" id="popup-btn" class="btn btn-primary btn-icon-split" data-toggle="modal" data-target="#bus-list" style="margin-right: 20px;">
                    <span class="icon text-white-50">
                      <i class="fas fa-bus"></i>
                    </span>
                    <span class="text">Buses</span>
                  </a>
                  <div class="dropdown no-arrow">
                    <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">
                      <div class="dropdown-header">Dropdown Header:</div>
                      <a class="dropdown-item" href="#">Action</a>
                      <a class="dropdown-item" href="#">Another action</a>
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                  </div>
                </div>
                <!-- Card Body -->
                <div class="card-body map-container z-depth-1-half" style="height: 500px; padding: 0;">
                    <!--The div element for the map -->
                    <div id="map" style="width: auto; height: 500px;"></div>
                    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"> 
                    </script>
                    <script>
                      // Initialize and add the map
					  var myFunctinForListener;var myFunctinForListener1;var map;var markers=[];var d={};var mIMEI=[];
                      function initMap() {
                        var location = {lat:17.3920,lng:78.3194}
                        map = new google.maps.Map(document.getElementById('map'), {
                          zoom: 11,
                          center: location
                        });
                        var markerc = new google.maps.Marker({
                          map: map,
                          position:location,
                          icon:"{% static 'markers/pin1.png' %}",                   
                        });
                        myFunctinForListener = function(aMarker, aInfoWindow) {
                          google.maps.event.addListener(aMarker, 'click', function() {                          
                            aInfoWindow.open(map, aMarker);
                          });
                        }
                        myFunctinForListener1 = function(aMarker) {
                          google.maps.event.addListener(aMarker, 'dblclick', function() {
							var l=this.label
                            window.location.href = "/home/Bus-"+l;     

                             
                        });
                      }
                        img="{% static 'markers/Bus.png' %}"
                        {% for i in track_liv %}
						  var imei='{{i.IMEI}}';
						  mIMEI.push(imei)
                          var lat = parseFloat('{{i.latitude}}');
                          var lng = parseFloat('{{i.longitude}}');
					      var pos={lat:lat ,lng:lng};
                          var k='{{i.routeId}}';
						  d[imei]=pos;
                          marker = new google.maps.Marker({
                            map: map,
                            icon:img,
                            position: pos,
                            //url:'http://127.0.0.1:8000/home/Bus-'+'{{i.routeId}}',
                            label:'{{i.routeId}}',                      
                          });
						  markers.push(marker);
                          var infowindow = new google.maps.InfoWindow({
content: '<p>Latitude:' +lat + '</p>'+
		  '<p>Longitude'+lng + '</p>'+
		  '<p>Speed:' + '{{i.speed}}' + '</p>'+
		  '<p>Altitude:' + '{{i.altitude}}' + '</p>'+
		  '<p>Battery:' + '{{i.battery}}' + '</p>'+
		  '<p>Fuel:' + '{{i.fuel}}' + '</p>'+
		  '<p>Alert:' + '{{i.alert}}' + '</p>'+
		  '<a href = "/home/Bus-'+ k +'">Live Tracking </a>'
});
                          myFunctinForListener(marker, infowindow);
                         
                        {% endfor %}
						//setTimeout(refresh,10000);
                      }
                    </script>
                    <script async differ type="text/javascript"
                      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCclG7w5m1rAyb_KxV8cp2eY4FsTtTm7Bs&libraries=drawing&callback=initMap">
                    </script>
                  </div>
                </div>
              </div>

              <!--popupwas here-->
              
      <!-- End of Main Content -->

      

    </div>
    <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->



{%endblock%}