{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="shortcut icon" type="image/png" href="{% static '/img/cbit.png' %}"/>
  <title>CBIT Bus Tracking</title>
  <script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-2.2.4.min.js">
</script>
  <!-- Custom fonts for this template-->
  <link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  <link rel="stylesheet" type="text/css" href="{% static 'css/sb-admin-2.min.css' %}">
  <!-- Custom styles for this template-->
  <link href="{% static 'css/sb-admin-2.min.css' %}" rel="stylesheet">
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script>
    if(localStorage.getItem('accessToken') != null){
              window.open("{%url 'index'%}","_self")
          }
  </script>
    

</head>


<body class="">

  <div class="container">

    <!-- Outer Row -->
    <div class="row justify-content-center mt-5">

      <div class="col-xl-10 col-lg-12 col-md-9 mt-4">

        <div class="card o-hidden border-0 shadow-lg my-5">
          <div class="card-body p-0">
            <!-- Nested Row within Card Body -->
            <div class="row">
              <div class="col-lg-6 d-none d-lg-block" style="background-image: url({% static '/img/pic2.jpg' %});"></div>
              <div class="col-lg-6">
                <div class="p-3 px-5">
                  <img src="{% static '/img/dblogo.png' %}" alt="" style="width: 40%; margin: 10px 30% 30px 30%;">
                  <!-- <div class="text-center">
                    <h1 class="h4 text-gray-900 mb-4">Welcome Back!</h1>
                  </div> -->
                  <div class="user">
        				  <center><div id="msgg" class="text-danger m-2"> </div></center>
                    <div class="form-group">
                      <input type="text" class="form-control form-control-user" id="username" name="username" placeholder="Enter Username...">
                    </div>
                    <div class="form-group">
                      <input type="password" class="form-control form-control-user" id="password" name="password" placeholder="Password">
                    </div>
                    <div class="form-group">
                      <div class="custom-control custom-checkbox small">
                        <input type="checkbox" class="custom-control-input" id="customCheck" onchange="chkbx()">
                        <label class="custom-control-label" for="customCheck">Remember Me</label>
                      </div>
                    </div>
                    <div class="form-group">
                      <input type="hidden" name='rememberme' id='rememberme'>
                    </div>
                    <input type="submit" class="btn btn-primary btn-user btn-block" id='login' onclick="loginn()" value="Login">
                  </div>
                  <hr>
                  <div class="text-center">
                    <a class="small" href="/forgot-password">Forgot Password?</a>
                  </div>
                  <div class="text-center">
                    <a class="small" href="/signup">Create an Account!</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <script>
          document.getElementById('rememberme').value = 0;
          function chkbx(){
            if(document.getElementById('rememberme').value == 1){
              console.log(document.getElementById('rememberme').value)
              document.getElementById('rememberme').value = 0;
            }
            else{
              console.log(document.getElementById('rememberme').value)
              document.getElementById('rememberme').value = 1;
            }
          }
          function loginn(){
            var accessToken = ''
            var data = {}
            data.username = document.getElementById('username').value
            data.password = document.getElementById('password').value
			
            $.ajax({
              type: "POST",
              data: data,
              url: 'http://ec2-3-7-131-60.ap-south-1.compute.amazonaws.com/login',
              success: function(data,textStatus,request){
                window.open("{%url 'index'%}","_self")
                accessToken = data['access_token']
                sessionStorage.setItem('access','valid')
                if(document.getElementById('rememberme').value == 1){
                  localStorage.setItem('access','valid')
                }
              },
              error:function(httpObj, textStatus) {       
                if(httpObj.status==401){
                  document.getElementById("msgg").innerHTML="<i class='fas fa-exclamation-triangle'></i>  Incorrect username or password"
                }
              },
            });
          }
        </script>
        <script>
          var pwdField = document.getElementById("password");
          var unmField = document.getElementById("username");
          pwdField.addEventListener("keyup", function(event) {
            if (event.keyCode === 13) {
              event.preventDefault();
              document.getElementById("login").click();
            }
          });
          unmField.addEventListener("keyup", function(event) {
            if (event.keyCode === 13) {
              event.preventDefault();
              document.getElementById("password").focus();
            }
          });
        </script>
      </div>

    </div>

  </div>

  <!-- Bootstrap core JavaScript-->
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

  <!-- Core plugin JavaScript-->
  <script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>

  <!-- Custom scripts for all pages-->
  <script src="{% static 'js/sb-admin-2.min.js' %}"></script>

</body>

</html>
