{%extends 'basesup.html'%} {% load static %} {%block title%} CBIT Bus Tracking
Dashboard {%endblock%} {%block main%}
 
<table class="table table-striped table-bordered table-sm">  
    <thead class="thead-dark">  
    <tr>  
        <th>Sos Id</th> 
        <th>Sos Name 1</th>
        <th>Sos Phone 1</th>      
        <th>Sos Name 2</th> 
        <th>Sos Phone 2</th>     
        <th>Actions</th> 
    </tr>  
    </thead>  
    <tbody>  
{% for s in sos %}  
    <tr>  
        <td>{{ s.sosId }}</td> 
        <td>{{ s.sosName1 }}</td>   
        <td>{{ s.sosPhone1 }}</td>  
        <td>{{ s.sosName1 }}</td>   
        <td>{{ s.sosPhone1 }}</td> 
        <td>  
            <!-- TODO -->
            <a href='/editSos/{{ s.sosId }}'><span class="glyphicon glyphicon-pencil" >Edit</span></a>  
            <a href="/deleteSos/{{ s.sosId }}">Delete</a>  
        </td>  
    </tr>  
{% endfor %}  
    </tbody>  
</table>  
<br>  
<br>  
<center><a href="/addSos" class="btn btn-primary">Add New Record</a></center>  


{% endblock %}