{%extends 'base.html'%}
{% load static %}
{%block title%}
TrackHistory-{{bno}}
{%endblock%}
{%block main%}

        <!-- Begin Page Content -->
        <div class="container-fluid">

        <!-- Page Heading -->
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800"></h1>
        </div>
        <!-- Content Row -->

        <div class="row">

            <!-- Map -->
            <div class="col-xl-12 col-lg-7">
                <div class="card shadow mb-4">
                    <!-- Card Header - Dropdown -->
                    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary" style="flex: 1;">Bus Number {{bus.bno}}</h6>
                    <a href="#" id="alert-btn" class="btn btn-danger btn-icon-split" style="margin-right: 20px;">
                      <span class="icon text-white-50">
                        <i class="fas fa-bell"></i>
                      </span>
                      <span class="text">Alert</span>
                    </a>
                    <div class="dropdown no-arrow">
                        <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">
                        <div class="dropdown-header">Dropdown Header:</div>
                        <a id="actn" class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </div>
            </div>
        
            <!-- Card Body -->
            <div class="card-body map-container z-depth-1-half" style="height: 500px; padding: 0;">
                <!--The div element for the map -->
                <div id="map" style="width: auto; height: 500px;"></div>
                <script>
                // Initialize and add the map
                function initMap() {
                    var cbit = {lat:17.3920,lng:78.3194}
                    var map = new google.maps.Map(document.getElementById('map'), {
                    zoom: 11,
                    center: cbit
                    });
                    var myFunctinForListener = function(aMarker, aInfoWindow) {
                        google.maps.event.addListener(aMarker, 'click', function() {                          
                            aInfoWindow.open(map, aMarker);
                        });
                    }
                    var lat;
                    var long;
                    var pos;
                    var waypts = [];
                    var time;
                    var k;
                    {% for i in track_his %}
                    lat = parseFloat('{{i.latitude}}');
                    lng = parseFloat('{{i.longitude}}');
                    time = ('{{i.updatedTime}}');
					speed = '{{i.speed}}'+' KMPH';
					battery = {{i.battery}}+'%';
					fuel = {{i.fuel}}+ '%';
                    pos=new google.maps.LatLng(lat, lng);
                    waypts.push({
                        location: pos,
                        stopover: true
                    });
                    k='{{bno}}';
                    marker = new google.maps.Marker({
                        map: map,
                        position: pos,
                        //icon:"{% static 'markers/pin1.png' %}",                        
                    });
					marker.setTitle('Latitude: ' +lat + ' Longitude: '+lng)
                    var infowindow = new google.maps.InfoWindow({
                    content: '<p>Time: '+time + '</p>'+
                             '<p>Speed: '+speed + '</p>'+
                             '<p>Fuel: '+fuel + '</p>'+
                             '<p>Battery: '+battery + '</p>'
                    });
                    myFunctinForListener(marker, infowindow);
                    {% endfor %}
                    var directionsDisplay = new google.maps.DirectionsRenderer({suppressMarkers: true});
                    var directionsService = new google.maps.DirectionsService();
                    directionsDisplay.setMap(map);
                    var request = {
                        origin: waypts[0]['location'],
                        destination: pos,
                        waypoints: waypts,
                        travelMode: google.maps.TravelMode.DRIVING
                    };
                    directionsService.route(request, function (response, status) {
                        console.log(status);
                        if (status == 'OK') {
                                directionsDisplay.setDirections(response);
                        }
                    });                       
                                                                         
                }
                </script>
                <script async differ type="text/javascript"
                src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCclG7w5m1rAyb_KxV8cp2eY4FsTtTm7Bs&libraries=drawing&callback=initMap">
                </script>
            </div>
        </div>
    </div>

    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-left-info shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Driver Info</div>
              <div class="h6 mb-1 font-weight-bold text-gray-800">Driver Name</div>
              <div class="text-xs font-weight-bold text-gray-800">+91 90000 00000</div>
            </div>
            <div class="col-auto">
              <i class="fas fa-user fa-2x text-gray-300"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-left-warning shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">Vehicle Info</div>
              <div class="h6 mb-0 font-weight-bold text-gray-800">TS 18 XX XXXX </div>
            </div>
            <div class="col-auto">
              <i class="fas fa-bus fa-2x text-gray-300"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-left-warning shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">Hours Travelled</div>
              <div class="h6 mb-0 font-weight-bold text-gray-800">{{runHrs}} hours </div>
            </div>
            <div class="col-auto">
              <i class="fas fa-bus fa-2x text-gray-300"></i>
            </div>
          </div>
        </div>
      </div>
    </div>    
    <!-- End of Main Content -->


    </div>
    <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->


    <!-- Alert Message -->
    <div class="alert hide">
      <span class="fas fa-exclamation-circle"></span>
      <span class="msg font-weight-bold">Alert : </span>
      <span id="alert-info" class="info font-weight-bold text-gray-800">"Bus-16 Accident"</span>
      <div class="close-btn">
        <span class="fas fa-times"></span>
      </div>
  </div>

  <script>
    $('#alert-btn').click(function(){
      $('.alert').addClass("show");
      $('.alert').removeClass("hide");
      $('.alert').addClass("showAlert");
      setTimeout(function(){
        $('.alert').removeClass("show");
        $('.alert').addClass("hide");
      },5000);
    });
    $('.close-btn').click(function(){
      $('.alert').removeClass("show");
      $('.alert').addClass("hide");
    });
  </script>
    
    <script>
      document.getElementById("alert-btn").addEventListener("click", function(){  
        var audio = new Audio( 
        "{% static 'beep.mp3' %}"); 
        audio.play();  });
    </script>
    

{%endblock%}